@media screen and (max-width: 390px) {
    .container-fluid {
        max-width: 390px;
    }
    .container {
        max-width: 343px;
    }
    .header {
        height: 1120px;
    }
    .header-info {
        & > h1 {
            max-width: 100%;
            font-size: 2.375rem;
            line-height: 46px;
        }
    }
    a.primary-btn {
        font-size: 1rem;
    }
    .header-content {
        & > div {
            width: 100%;
            height: 380px;
        }
    }

    .reviews {
        align-items: center;
    }
}
