@media screen and (max-width: 390px) {
    .container-fluid {
        max-width: 390px;
    }
    .container {
        max-width: 363px;
    }
    .header {
        height: 1120px;
    }
    .header-inner {
        gap: 50px;
    }
    .header-info {
        & > h1 {
            max-width: 100%;
            font-size: 2.375rem;
            line-height: 46px;
        }
        & > a.primapy-btn {
            font-size: inherit;
            line-height: 1.3rem;
        }
    }
    .header-content {
        & > div {
            width: 100%;
            height: 380px;
        }
    }
    .reviews {
        align-items: center;
    }

    /* main */

    .main {
        padding: 60px 0;
    }
    /* info */
    .info-block {
        & h2 {
            font-size: 2.125rem;
            line-height: 2.7rem;
        }
        & h2.show-circle {
            & > span {
                &::before {
                    width: 110px;
                    height: 50px;
                    background: url(../images/icons/pattern-circle-mobile.png)
                        no-repeat;
                }
            }
        }
        & li {
            max-width: 340px;
        }

        &:first-child {
            & > div:first-of-type {
                width: 100%;
                height: 330px;
            }
        }
        &:last-child {
            & > div:last-of-type {
                width: 100%;
                height: 330px;
                &::before {
                    display: none;
                }
            }
        }
    }
    /* block */
    .block {
        display: none;
    }
    /* price */
    .price-inner {
        & > h2 {
            font-size: 2.125rem;
            text-align: left;
        }
    }
    .price-blocks {
        justify-content: center;
        margin-top: 20px;
    }
    /* quote */
    .quote-inner {
        & p {
            font-size: 1.5rem;
            line-height: 110%;
        }
    }
    /* footer */
    .footer-inner {
        height: 540px;
        padding-top: 50px;
        justify-content: flex-start;
        gap: 24px;
        & h3 {
            font-size: 2.125rem;
            color: var(--neutral-color100);
        }
        & > a.primapy-btn {
            margin-top: 16px;
            font-size: 1rem;
        }
    }
    .footer-bottom {
        margin-top: auto;
        height: 100px;
        flex-direction: column;
        gap: 16px;
        justify-content: center;
    }
}
