@import "./fonts.css";
@import "./reset.css";
@import "./variables.css";

/* base */

.container-fluid {
    max-width: 1440px;
    margin: 0 auto;
}
.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    & > header.header,
    & > main.main,
    & > footer.footer {
        width: 100%;
    }
    & > main.main {
        flex-grow: 1;
    }
}
a.primapy-btn {
    min-width: 343px;
    max-width: 100%;
    min-height: 64px;
    padding: 24px 20px;
    background-color: var(--lightSalmon-color50);
    border: 2px solid var(--neutral-color900);
    border-radius: 8px;

    font-size: 1.125rem;
    line-height: 1.4rem;
    letter-spacing: -1px;
    color: var(--neutral-color900);

    display: flex;
    align-items: center;
    gap: 20px;
    & > span {
        width: 24px;
        height: 24px;
        background: url(../images/icons/icon-arrow-down.svg) no-repeat;
    }
    &:hover {
        background: var(--secondary-gradient);
    }
}
body {
    font-family: "Martian Mono", sans-serif;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--neutral-color0);
}

/* header */
.header {
    background-image: url(../images/icons/pattern-light-bg.svg),
        url(../images/icons/header-layer.svg);
    background-repeat: no-repeat;
    background-size: cover, 410px 658px;
    background-position: 0 0, bottom right;

    position: relative;
    &::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        background: var(--neutral-color100);
        z-index: -1;
    }

    height: 834px;
}
.header-inner {
    padding-top: 30px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 80px 0;
    height: 100%;
}
.header-icon {
    width: 193px;
    height: 37px;
    background: url(../images/icons/logo.svg) no-repeat;
    flex-shrink: 0;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;

    & > div {
        width: 540px;
        height: 600px;
        & > img {
            border-radius: 6px;
        }
    }
}
.header-info {
    display: flex;
    flex-direction: column;
    gap: 25px;
    & > h1 {
        max-width: 570px;

        font-family: "Martian Mono", sans-serif;
        font-size: 3.875rem;
        font-weight: 700;
        line-height: 74px;
        letter-spacing: -2px;

        background: linear-gradient(
            107deg,
            var(--lightSalmon-color500) -11.37%,
            var(--neutral-color900) 61.84%
        );
        background-clip: text;
        color: transparent;
    }
    & > p {
        max-width: 530px;
        font-family: "Inter", sans-serif;
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 28px;
        letter-spacing: -0.5px;
        color: var(--neutral-color700);
    }
    & > a.primapy-btn {
        align-self: flex-start;
    }
    & > .reviews {
        display: flex;
        gap: 12px;
        & > div:first-of-type {
            display: flex;
            & > div {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1.5px solid var(--neutral-color0);
            }
            & > div:nth-child(1) {
                background: url(../images/icons/images-avatar-01.svg);
            }
            & > div:nth-child(2) {
                margin-left: -5px;
                background: url(../images/icons/images-avatar-02.svg);
            }
            & > div:nth-child(3) {
                margin-left: -5px;
                background: url(../images/icons/images-avatar-03.svg);
            }
        }
        & > div:last-of-type {
            display: flex;
            flex-direction: column;
            gap: 4px;
            & > div {
                display: flex;
                & > span {
                    position: relative;
                    width: 24px;
                    height: 24px;
                    &::before {
                        content: " ";
                        position: absolute;
                        inset: 0 0 0 0;
                        width: 24px;
                        height: 24px;
                        background: url(../images/icons/icon-star.svg);
                    }
                }
            }
            & > small {
                color: var(--colors-neutral-700, #385159);
                font-family: "Martian Mono", sans-serif;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 17px;
                letter-spacing: -1px;
            }
        }
    }
}

/* main */

.main {
    padding: 120px 0;
}
.info-inner {
    display: flex;
    flex-direction: column;
    gap: 120px;
}
.info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:first-child {
        & > div:first-of-type {
            width: 560px;
            height: 530px;
            & > img {
                border-radius: 16px;
            }
        }
        & > div:last-of-type {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
    }
    &:last-child {
        & > div:first-of-type {
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        & > div:last-of-type {
            width: 560px;
            height: 530px;
            & > img {
                border-radius: 16px;
            }
            position: relative;
            &::before {
                content: "";
                position: absolute;
                bottom: calc(0% + 31px);
                left: 0%;
                transform: translate(-67%, 0%);
                width: 120px;
                height: 140px;
                background: url(../images/icons/logos-tech.svg) no-repeat;
            }
        }
    }
    & h2 {
        max-width: 530px;
        font-size: 3.125rem;
        line-height: 4rem;
        letter-spacing: -2px;
        color: var(--neutral-color900);
    }
    & h2.show-circle {
        & > span {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                inset: 0 0 0 -15px;
                width: 160px;
                height: 70px;
                background: url(../images/icons/pattern-circle.png) no-repeat;
            }
        }
    }
    & p {
        max-width: 532px;
        font-family: "Inter", sans-serif;
        color: var(--neutral-color700);
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.5px;
        & > strong {
            font-weight: 700;
        }
    }
    & ul {
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    & li {
        max-width: 410px;
        font-family: "Inter", sans-serif;
        color: var(--neutral-color700);
        font-size: 1.25rem;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: -0.5px;
        position: relative;
        padding-left: 40px;
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0%, -50%);
            width: 29px;
            height: 28px;
            background: url(../images/icons/icon-check.svg) no-repeat;
        }
    }
}
