:root {
    --neutral-color900: rgb(6, 38, 48);
    --neutral-color700: rgb(56, 81, 89);
    --neutral-color200: rgb(230, 225, 223);
    --neutral-color100: rgb(250, 245, 243);
    --neutral-color0: rgb(255, 255, 255);

    --lightSalmon-color500: rgb(254, 163, 111);
    --lightSalmon-color100: rgb(255, 226, 209);
    --lightSalmon-color50: rgb(255, 245, 239);

    --text-gradient: linear-gradient(107deg, #ff9a60 -11.37%, #062630 61.84%);
    --secondary-gradient: linear-gradient(90deg, #ffe2d1 0%, #fff5ef 100%);
}
